.location__page {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2.2fr 2.5fr;
}

.location__details{
    display: grid;
    grid-template-rows: 2.4fr 1.8fr;
    height: 100vh;
}

.location__upper {
    background-color: #F2F6FF;
    height: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.location__lower {
    padding-left: 2rem;
}

.location__Name {
    font-size: 3.2rem;
    width: 90%;
    font-weight: 600;
}

.location__dosdescription {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 300;
    padding: 2rem 4rem 0 0;
}

.location__location {
    padding: 0.5rem 0 1rem;
}

.location__unodescription >span:nth-child(2) {
    padding-left: 2rem;
}

.location__synopsis {
    padding: 0.25rem 0;
}

.book__section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.my__swiper{
    max-width: 100%;
    max-height: 100vh;
}

.location__images {
    width: 100%;
    max-height: 100%
}

 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
}

.go__back {
    padding: 0.5rem 0 1rem;
    color: #2E7DAF;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 700;
}

.go__back:hover> i{
    width: 5rem;
    transition: ease-in 0.2s;
    padding-right: 0.25rem;
    padding-left: 0.5rem;
}

@media screen and (max-width:600px) {
    .location__page {
        grid-template-columns: 1fr;
    }
}
