.searchFields {
    width:auto;
    background-color: white;
    height:auto;
    padding: 0 0rem 0 1rem;
    border-radius: 6rem;
    border: #9ECCEA 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    font-weight: 600;
  }

  
  .searchButton {
    background-color: #2E7DAF;
    padding:8px;
    border-radius: 50%;
    transition: transform .4s;
  }
  
  .searchButton:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  @media screen and (max-width:600px) {
    .searchFields {
      width: 90vw;
      border: none;
      margin: 1rem 0;
    }
    .searchButton {
     padding: 4px;
    }
  }