.rentals__page {
    min-height: 100vh;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.rentals__filter {
    z-index: 1000;
    width: 100% !important;
    top: 0;
    padding: 1rem 0 2rem; 
    display: flex;
    border-bottom: 1px black solid;
    position: sticky;
}

.filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.rentalLocation {
    padding: 0 0  1rem;
    font-size: 1.1rem;
}


.stays {
    padding-bottom: 1rem;
    font-size: 1.3rem;
    border-bottom: #808080 2px solid;
}

.rentalsContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.rentalsContentL {
    padding:30px;
    height: 100vh;
    overflow-y: scroll;
}


.rentalDiv {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.rentalDivH {
    animation: mymove 3s;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
}


@keyframes mymove {
    from {background-color: #dddddd;}
    to {background-color: #dddddd00;}
  }
.rentalImg {
    height:200px;
    width:300px;
    border-radius:20px;
    margin-right:20px; 
}

.rentalInfo {
    padding:10px;
    width: 100%;
}

.rentalTitle {
    font-size: 1.75rem;
    margin-bottom: 15px;;
}

.rentalDesc {
    color: gray;
}

.bottomButton {
    margin-top:50px;
    justify-content: space-between;
    display: flex;
    width:100%;
    align-items: center;
}

.price {
    display:flex;
    justify-content: flex-end;
    gap:5px;
    color:#808080;
    font-size: 12px;
}
