.rentals__page {
    min-height: 100vh;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.rentals__filter {
    width: 100% !important;
    padding: 0; 
    display: flex;
    border-bottom: 1px black solid;
    position: sticky;
}

.filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 1.5rem;
}
.logo {
    width: auto;
    height: 6rem;
}

.lrContainers {
    display: flex;
    align-items: center;
}

.rentalLocation {
    padding: 0 0  1rem;
    font-size: 1.1rem;
}


.stays {
    padding-bottom: 1rem;
    font-size: 1.3rem;
    border-bottom: #808080 2px solid;
}

.rentalsContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.rentalsContentL {
    padding:30px;
    height: 100vh;
    overflow-y: scroll;
}


.rentalDiv {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 2.4fr 1.8fr;
    column-gap: 1rem;
}

.rentalDivH {
    animation: mymove 3s;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2.4fr 1.8fr;
    column-gap: 1rem;
    padding-left:  1rem;
    padding-top: 1rem;
}


@keyframes mymove {
    from {background-color: #dddddd;}
    to {background-color: #dddddd00;}
  }
.rentalImg {
    height:12.5rem;
    width:100%;
    border-radius:20px;
}

.rentalImg> img {
    width: 100%;
    height: 100%;
}

.rentalInfo {
    padding:10px;
    width: 100%;
}

.rentalTitle {
    font-size: 1.75rem;
    margin-bottom: 15px;;
}

.rentalDesc {
    color: gray;
}

.bottomButton {
    margin-top: 1rem;
    justify-content: space-between;
    display: flex;
    width:100%;
    align-items: center;
}

.price {
    display:flex;
    justify-content: flex-end;
    gap:5px;
    color:#808080;
    font-size: 12px;
}

@media screen and (max-width:600px) {
    .filters{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .rentalDiv {
        grid-template-columns: 1fr;
    }
    
    .rentalDivH {
        grid-template-columns: 1fr;

    }
}

@media screen and (max-width:1028px) {
    .rentalsContent {
        display: block;
    }
    
}



/* From uiverse.io by @barisdogansutcu */
.spinner__div {
    width: fit-content;
    margin: auto;
}

.spinner {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   .spinner>circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   